# Виртуальное окружение
venv/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo

# Данные и кэш
chroma_db/
models/
data/raw/
eval/results/
*.log
*.db
*.sqlite
*.sqlite3

# Тесты и покрытие
.pytest_cache/
.coverage
htmlcov/

models/
*.gguf
*.bin

.DS_Store
Thumbs.db